[bumpversion]
current_version = 0.6.2
commit = True
tag = True

[bumpversion:file:setup.py]

[bumpversion:file:jpype/__init__.py]
serialize = {major}, {minor}, {patch}
parse = (?P<major>\d+), (?P<minor>\d+), (?P<patch>\d+)

[bumpversion:file:doc/CHANGELOG.rst]
search = - **Next version - unreleased**
replace = - **Next version - unreleased**
	- **{new_version} - {now:%Y-%m-%d}**

