os:
  - linux

language: python

python:
  #- '2.6'
  - '2.7'
  #- '3.3'
  #- '3.4'
  #- '3.5'
  - '3.6'
  #- 'pypy'
  #- 'pypy3'
  #- "nightly"

addons:
  apt:
    packages:
    - ant

env:
  # one build with and without numpy support (opt numpy out)
  - NUMPY="--global-option=--disable-numpy"
  - NUMPY=""

matrix:
  allow_failures:
    - python: 'pypy'
      env: NUMPY="--global-option=--disable-numpy"
    - python: 'pypy3'
      env: NUMPY="--global-option=--disable-numpy"
    - python: 'pypy'
      env: NUMPY=""
    - python: 'pypy3'
      env: NUMPY=""
    - python: 'nightly'
      env: NUMPY=""
    - python: 'nightly'
      env: NUMPY="--global-option=--disable-numpy"
  
install:
  - python setup.py --enable-build-jar sdist
  - pip install dist/* $NUMPY
  - pip install -r test-requirements.txt
  - ant -f test/build.xml

script:
  - python -c "import jpype"
  - pytest -v test/jpypetest
