os:
  - linux

language: python

python:
  - '2.6'
  - '2.7'
  - '3.3'
  - '3.4'
  - '3.5'
  - '3.6'
  - 'pypy'
  - 'pypy3'
  - "nightly"

addons:
  apt:
    packages:
    - oracle-java8-installer
    - ant

env:
  # one build with and without numpy support (opt numpy out)
  - NUMPY="--install-option=--disable-numpy"
  - NUMPY=""

matrix:
  allow_failures:
    - python: 'pypy'
      env: NUMPY="--install-option=--disable-numpy"
    - python: 'pypy3'
      env: NUMPY="--install-option=--disable-numpy"
    - python: 'pypy'
      env: NUMPY=""
    - python: 'pypy3'
      env: NUMPY=""
    - python: 'nightly'
      env: NUMPY=""
    - python: 'nightly'
      env: NUMPY="--install-option=--disable-numpy"
  
install:
  - ls /usr/lib/jvm/
  - update-java-alternatives -l
  - pip install . $NUMPY
  - pip install -r test-requirements.txt
  - ant -f test/build.xml

script:
  - python -c "import jpype"
  - python test/testsuite.py
