os:
  - linux

language: python

python:
  - '3.4'
  - '3.5'
  - '3.6'
  - 'nightly'
  - 'pypy'
  - 'pypy3'

env:
  global:
    - PYTHON=python
    - PIP=pip
    - INST=""
    # Moved numpy testing to Xenial
    #   Testing with and without numpy on more than 2.7/3.7 for each arch
    #   is likely a waste.  The paths to a CPython module do not really
    #   change, but byte order and major version may make a difference.

addons:
  apt:
    packages:
    - ant

matrix:
  allow_failures:
    - python: nightly
    - python: pypy
    - python: pypy3

  include:
    - name: "Python 3.7 on Xenial Linux (w/o NUMPY)"
      python: 3.7
      dist: xenial
      language: python
      env:
        - PYTHON=python3
        - PIP=pip3
        - NUMPY="--global-option=--disable-numpy"

    - name: "Python 3.7 on Xenial Linux"
      python: 3.7
      dist: xenial
      language: python
      env:
        - PYTHON=python3
        - PIP=pip3

    - name: "Python 3.7 on Xenial Linux"
      python: 3.7
      dist: xenial
      language: python
      env:
        - PYTHON=python3
        - PIP=pip3
        - JPYPE_STR_CONVERSION=False

    - name: "Python 3.7 on macOS"
      os: osx
      osx_image: xcode10.2
      language: java
      env:
        - PYTHON=python3
        - INST=--user
        - PIP=pip3
      addons:
        homebrew:
          packages:
            - ant

install:
  - echo $PYTHON $INST
  - $PYTHON setup.py sdist
  - $PIP install $INST dist/* $NUMPY
  - $PIP install $INST -r test-requirements.txt
  - ant -f test/build.xml

script:
  - $PYTHON -c "import jpype"
  - $PYTHON -m pytest -v test/jpypetest

