os:
  - linux
  - osx

language: python

python:
  - '2.6'
  - '2.7'

env:
  matrix:
    # one build with and without numpy support (opt numpy out)
    - NUMPY="--install-option=disable-numpy"
    - NUMPY=""

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq openjdk-7-jdk openjdk-7-jre ant

install:
  - pip install . $NUMPY
  - pip install -r test-requirements.txt
  - ant -f test/build.xml

script:
  - python -c "import jpype"
  - python test/testsuite.py
