environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_env.cmd"
    ANT_HOME: "C:\\ProgramData\\chocolatey\\lib\\ant\\apache-ant-1.10.1"
    NUMPY_: "numpy x.x"
    JAVA_HOME: "C:\\jdk8"
    CINST_OPTS:

  matrix:
    ## Cygwin images seem to be very hit or miss.
    ## Patterns we see:
    ##  * Fail in threading in python2.
    
    - PYTHON: "python3"
      CYGWIN: "C:\\cygwin"
      ARCH: x86
      CYGSH: C:\Cygwin\bin\bash -c
#      CINST_OPTS: --x86
#
#    - PYTHON: "python2"
#      CYGWIN: "C:\\cygwin64"
#      ARCH: x86_64 
#      CYGSH: C:\Cygwin64\bin\bash -c
#
#    - PYTHON: "python3"
#      CYGWIN: "C:\\cygwin64"
#      ARCH: x86_64
#      CYGSH: C:\Cygwin64\bin\bash -c
#
#    - PYTHON: "C:\\Miniconda"
#      CONDA_PY: "2.7"
#
#    - PYTHON: "C:\\Miniconda-x64"
#      CONDA_PY: "2.7"
#      ARCH: "64"
#
#    - PYTHON: "C:\\Miniconda3"
#      CONDA_PY: "3.5"
#
#    - PYTHON: "C:\\Miniconda3-x64"
#      CONDA_PY: "3.6"
#      ARCH: "64"
#
#    - PYTHON: "C:\\Miniconda3-x64"
#      CONDA_PY: "3.6"
#      ARCH: "64"
#      NUMPY_: "python"
#
    ## This one is failing from gcc died with sig 11.  
    ## This error is apparently common when building python 2 modules with cygwin32.
    ## The failure depends on the windows version and will cause a failure 
    ## on appveyor depending on which image is used.
    ## We will disable it for now
    #
    # - PYTHON: "python2"
    #  CYGWIN: "C:\\cygwin"
    #  JAVA_HOME: "C:\\Program Files (x86)\\Java\\jdk1.8.0"
    #  ARCH: x86 
    #  CYGSH: C:\Cygwin\bin\bash -c

install:
  # Force java to be installed where JAVA_HOME points
  # We can install and test multiple versions of java here
  # - We will have to move the JAVA_HOME and the build of the harness to the test section.
  # - We will need to figure out how to run nose multiple times on the same run so that
  #   we can get the result from each of the java version runs.
  #
  - cinst jdk8 -params 'installdir=C:\\jdk8' %CINST_OPTS%

  # - cinst jdk7 -params 'installdir=C:\\jdk7'
  # - cinst jdk9 -version 9.0.4.11 -params 'installdir=C:\\jdk9'
  - cinst ant %CINST_OPTS%

  # Add thinges to path 
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%ANT_HOME%\\bin;%PATH%"

  # If cygwin installed run install.sh, else run the install.ps1
  - "IF DEFINED CYGWIN (%CYGSH% appveyor/install.sh) ELSE (powershell ./appveyor/install.ps1)"

build: false # Not a C# project, build stuff at the test step instead.

test_script:
  #- "%CMD_IN_ENV% conda build devtools\\conda-recipe --numpy=112"
  # run testsuite and upload test results to AppVeyor; return exit code of testsuite
  - "IF DEFINED CYGWIN (%CYGSH% appveyor/runTestSuite.sh) ELSE (powershell ./appveyor/runTestSuite.ps1)"

on_finish:
  # upload results to AppVeyor
  - "powershell ./appveyor/upload.ps1"

#  - ps: $wc = New-Object 'System.Net.WebClient'; $wc.UploadFile('https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)', (Resolve-Path .\xunit.xml))
#
#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
