environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_env.cmd"
    ANT_HOME: "C:\\ProgramData\\chocolatey\\lib\\ant\\apache-ant-1.10.1"
    NUMPY_: "numpy x.x"

  matrix:
    - PYTHON: "python2"
      PIP: "pip2"
      CYGWIN: "C:\\cygwin"
      JAVA_HOME: "C:\\Program Files (x86)\\Java\\jdk1.8.0"
      ARCH: x86 
      CYGSH: C:\Cygwin\bin\bash -c

    - PYTHON: "python3"
      PIP: "pip3"
      CYGWIN: "C:\\cygwin"
      JAVA_HOME: "C:\\Program Files (x86)\\Java\\jdk1.8.0"
      ARCH: x86 
      CYGSH: C:\Cygwin\bin\bash -c

    - PYTHON: "python2"
      PIP: "pip2"
      CYGWIN: "C:\\cygwin64"
      JAVA_HOME: "C:\\Program Files (x86)\\Java\\jdk1.8.0"
      ARCH: x86_64 
      CYGSH: C:\Cygwin64\bin\bash -c

    - PYTHON: "python3"
      PIP: "pip3"
      CYGWIN: "C:\\cygwin64"
      JAVA_HOME: "C:\\Program Files (x86)\\Java\\jdk1.8.0"
      ARCH: x86_64 
      CYGSH: C:\Cygwin64\bin\bash -c

install:
  - cinst ant

  # Add thinges to path 
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%ANT_HOME%\\bin;%PATH%"

  # If cygwin installed run install.sh, else run the install.ps1
  - "IF DEFINED CYGWIN (%CYGSH% appveyor/install.sh) ELSE (powershell ./appveyor/install.ps1)"

build: false # Not a C# project, build stuff at the test step instead.

test_script:
  #- "%CMD_IN_ENV% conda build devtools\\conda-recipe --numpy=112"
  # run testsuite and upload test results to AppVeyor; return exit code of testsuite
  - "IF DEFINED CYGWIN (%CYGSH% appveyor/runTestSuite.sh) ELSE (powershell ./appveyor/runTestSuite.ps1)"

on_finish:
  # upload results to AppVeyor
  - "powershell ./appveyor/upload.ps1"

#  - ps: $wc = New-Object 'System.Net.WebClient'; $wc.UploadFile('https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)', (Resolve-Path .\xunit.xml))
#
#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
