environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_env.cmd"
    ANT_HOME: "C:\\ProgramData\\chocolatey\\lib\\ant\\apache-ant-1.10.1"
    NUMPY_: "numpy x.x"
    JAVA_HOME: "C:\\jdk8"
    CINST_OPTS:

  matrix:

    ## This one is failing from gcc died with sig 11.  
    ## This error is apparently common when building python 2 modules with cygwin32.
    ## The failure depends on the windows version and will cause a failure 
    ## on appveyor depending on which image is used.
    ## We will disable it for now
    #
    # - PYTHON: "python2"
    #  CYGWIN: "C:\\cygwin"
    #  ARCH: x86 
    #  CYGSH: C:\Cygwin\bin\bash -c

    ## This one is failing due to a segfault when executing the first test in 
    ## the test suite.  We have been unable to replicate it outside of appveyor
    ## We will disable it for now
    #    
    #    - PYTHON: "python3"
    #      CYGWIN: "C:\\cygwin"
    #      ARCH: x86
    #      CYGSH: C:\Cygwin\bin\bash -c
    #      CINST_OPTS: --x86

    ## Python 2 on this platform is failing in the multi-threaded test.
    ## It is not clear if the issue is with the python build or incorrect
    ## locking code in jpype. 
    ## We will disable it for now
    #    - PYTHON: "python2"
    #      CYGWIN: "C:\\cygwin64"
    #      ARCH: x86_64 
    #      CYGSH: C:\Cygwin64\bin\bash -c
    
    - PYTHON: "python3"
      CYGWIN: "C:\\cygwin64"
      ARCH: x86_64
      CYGSH: C:\Cygwin64\bin\bash -c

    - PYTHON: "C:\\Miniconda3"
      CONDA_PY: "3.5"

    - PYTHON: "C:\\Miniconda3-x64"
      CONDA_PY: "3.6"
      ARCH: "64"

install:
  # Force java to be installed where JAVA_HOME points
  # We can install and test multiple versions of java here
  # - We will have to move the JAVA_HOME and the build of the harness to the test section.
  # - We will need to figure out how to run nose multiple times on the same run so that
  #   we can get the result from each of the java version runs.
  #
  - cmd: | 
     IF DEFINED CYGWIN (
        cinst jdk8 -params 'installdir=C:\\jdk8' %CINST_OPTS%

    ::  cinst jdk7 -params 'installdir=C:\\jdk7'
    ::  cinst jdk9 -version 9.0.4.11 -params 'installdir=C:\\jdk9'
        cinst ant %CINST_OPTS%

    :: Add thinges to path 
    SET PATH=%PYTHON%;%PYTHON%\\Scripts;%ANT_HOME%\\bin;%PATH%
    %CYGSH% appveyor/install.sh
  ) ELSE (
    conda config --set always_yes True
    conda config --set quiet True
    conda config --add channels conda-forge
    conda install conda-build -c defaults
  )

build: false # Not a C# project, build stuff at the test step instead.

test_script:
  #- "%CMD_IN_ENV% conda build devtools\\conda-recipe --numpy=112"
  # run testsuite and upload test results to AppVeyor; return exit code of testsuite
  - "IF DEFINED CYGWIN (%CYGSH% appveyor/runTestSuite.sh) ELSE (conda build devtools/conda-recipe -k)"

on_finish:
  # upload results to AppVeyor
  - "powershell ./appveyor/upload.ps1"

#  - ps: $wc = New-Object 'System.Net.WebClient'; $wc.UploadFile('https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)', (Resolve-Path .\xunit.xml))
#
#on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
